---
import SiteLayout from "../../layouts/SiteLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro"
const articles = await Astro.glob('../../content/articles/*.md')
---

<SiteLayout>
    <div class="pt-14">
        <h1 class="text-4xl font-bold pb-5">Artikel</h1>
        <p class="pb-3">
            Entdecken Sie hilfreiche Informationen und praktische Ratschl채ge rund um den sicheren und bewussten Umgang mit Social Media f체r Kinder und Jugendliche.<br> 
            Hier finden Sie wertvolle Ans채tze, um Ihre Kinder im digitalen Zeitalter kompetent zu begleiten und zu unterst체tzen.
        </p>
        <hr class="pb-5">
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 grid-flow-row auto-rows-max gap-8 mt-3">
        {articles.sort((a,b) => a.frontmatter.order - b.frontmatter.order).map(article => (<ArticleCard article={article}></ArticleCard>))}
    </div>
</SiteLayout>
