---
import SiteLayout from "../layouts/SiteLayout.astro";

import usImage from "../content/about.png";
import { Image } from "astro:assets";
---

<SiteLayout>
    <div class="pt-14">
        <Image src={usImage} alt="Diego, Leon und Jannis" class="max-w-md rounded-lg shadow-xl mx-auto mb-5 w-11/12"/>
        <div class="prose mx-auto">
            <h2>Über uns</h2>
            Wer sind wir eigentlich?
            Wir sind Diego, Leon und Jannis. Wir besuchen gerade die 13c der IGS-Seevetal und sind auf dem Weg zu unserem Abitur. In unserem Seminarfach beschäftigen wir uns momentan mit dem Thema Social Media und deren Einflüsse. Da wir uns täglich auf Plattformen und Apps dieser Art bewegen, besteht ein großes Interesse, über die sozialen Medien zu informieren und aufzuklären.<br/><br/>
            Wir haben uns als Gruppe zusammengefunden, um einen Weg zu finden, dieses Ziel anschaulich und zugänglich für alle zu gestalten. Dadurch, dass heutzutage immer mehr Kinder, schon im sehr jungen Alter, mit den sozialen Medien in Kontakt treten, hatten wir die Idee, diese Website mit all ihren Inhalten zu erstellen. Diese soll Eltern, aber auch Kinder und Jugendliche, darüber aufklären, was für Gefahren, als auch Chancen die sozialen Medien bereithalten. Uns persönlich ist dieses Thema ein sehr wichtiges Anliegen und wir hoffen, dass wir durch unsere Website die Leserinnen und Leser über dieses brisante Thema aufklären und informieren können.
            <h2>Kontakt</h2>
            <ul>
                <li>E-Mail: <a href="mailto:socialfit.fragen@gmail.com">socialfit.fragen@gmail.com</a></li>
            </ul>
        </div>
    </div>
</SiteLayout>
