---
import SiteLayout from "../layouts/SiteLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";
const articles = await Astro.glob('../content/articles/*.md');
---

<SiteLayout padding="false" class="">
	<section id="title" class="h-screen px-5 md:px-20 flex items-center flex-wrap">
		<div>
			<h1 class="text-4xl lg:text-6xl leading-normal font-bold">
				<span>Social Media, eine <span class="text-5xl lg:text-6xl bg-gradient-to-tr from-rose-700 to-rose-500 text-transparent bg-clip-text">Gefahr</span></span><br>
				<span class="lg:ps-48">oder doch eine <span class="text-5xl lg:text-6xl bg-gradient-to-tr from-green-700 to-lime-500 text-transparent bg-clip-text">Chance</span><span class="text-5xl lg:text-6xl">?</span></span>
			</h1>
			<p class="pt-5">Erfahren Sie hier alles über den gesunden Umgang mit Social Media!</p>
			<div class="mt-14">
				<a href="#description" class="rounded-full bg-indigo-500 py-3 px-4 text-white shadow-md hover:shadow-xl transition-shadow">Mehr erfahren</a>
			</div>
		</div>
	</section>
	<section id="description" class="px-5 lg:px-32 bg-indigo-500 text-white py-10 shadow-xl flex">
		<div class="w-80 flex-none hidden lg:block">
			<div class="rounded-lg bg-[url(https://cataas.com/cat)] bg-cover bg-center shadow-xl size-full"></div>
		</div>
		<div class="lg:ps-10">
			<h2 class="text-3xl font-bold pb-4">Willkommen auf unserer Website von SocialFit!</h2>
			<span>
				Die jetzige Zeit wird immer mehr von digitalen Medien begleitet und beeinflusst. Sie spielen eine immer größere Rolle im Alltag vieler Eltern und Kindern. Somit ist es für alle wichtiger denn je geworden, gut über die sozialen Medien informiert zu sein.<br>
				Wir konzentrieren uns auf die Aufklärung über soziale Medien und den richtigen Umgang mit diesen. Um dies optimal zu verpacken und für alle zugänglich zu machen haben wir eine Website erstellt, die diese Themen in Form eines Guides bzw. mit vielen verschiedenen Artikeln beschreibt und anschaulich macht. Dabei werden wir uns vor allem auf Expertenmeinungen beziehen aber auch ganz persönliche Erfahrungen mit einbringen.<br>
				Wir wissen, dass soziale Medien sowohl Chancen als auch Herausforderungen mit sich bringen. Von der Förderung sozialer Kontakte und kreativer Ausdrucksmöglichkeiten bis hin zu den Risiken wie Cybermobbing und Datenschutzproblemen. Mit unserer Website begleiten wir Sie dabei, sich durch dieses unwegsame Terrain zu navigieren.<br>
				Viel Spaß beim Stöbern und Lernen!<br><br>
				Ihr SocialFit Team 
			</span>
		</div>
	</section>
	<section id="articles" class="px-5 lg:px-32 py-10 pt-24">
		<h2 class="text-3xl font-bold pb-4">Empfohlene Artikel:</h2>
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 grid-flow-row auto-rows-max gap-8 mt-3">
			{articles.map(article => (<ArticleCard article={article}></ArticleCard>))}
		</div>
	</section>
</SiteLayout>