---
---

<div class="bg-slate-200 h-16 absolute bottom-0 left-0 w-full grid-cols-3 px-5">
    <div class="flex justify-between items-center h-full">
        <!-- <span>Diese Website ist ein Schulprojekt der <a href="http://www.igs-seevetal.de" class="underline text-indigo-500">IGS Seevetal</a></span> -->
        <span>© Jannis, Leon & Diego 2024</span>
    </div>
</div>