---
---

<div class="bg-slate-200 h-16 absolute bottom-0 left-0 w-full grid-cols-3 px-5">
    <div class="flex justify-between items-center h-full">
        <span>© Jannis, Leon & Diego 2024</span>
        <a href="https://github.com/SocialFit24/socialfit24.github.io" target="_blank">Quellcode verfügbar auf Github <img src="/github-icon.svg" alt="" class="inline h-5"></a>
    </div>
</div>