---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro"
const { title = "Social Fit", padding = true } = Astro.props;
---
<html lang="de" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💡</text></svg>">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body class="relative min-h-screen bg-white">
    <Header></Header>
    <div class={padding == true? "mx-auto max-w-4xl px-5 pb-24":"pb-24"}>
        <slot></slot>
    </div>
    <Footer></Footer>
  </body>
</html>